/* Modules */
@use 'footer';
@use 'contacto';
@use 'card';
@use 'boton';
@use 'frase';
@use 'navbar';

/* Variables */
$bg_color_body: #eeece5;
$bg_color_hecho_con_amor: #B6B9A0;

/* Mixin */
@mixin default_font_weight {
    font-weight: 600;
}

/* General */
* {
    font-family: "Rajdhani", sans-serif;
  }
  
  .background {
    background-color: $bg_color_body;
  }
  
  p {
    font-size: 26px;
    font-family: "Quicksand", sans-serif;
  }
  
  h1 {
    @include default_font_weight;
    font-size: 7vh;
  }
  
  h3 {
    @include default_font_weight;
  }
  
  .frase {
    background-color: $bg_color_hecho_con_amor;
  }
  
  /* Medium devices (tablets, 768px and up) */
  @media (max-width: 768px) {
    li {
      border-right: 0;
    }
    #imgInstagram {
      width: 25%;
    }
  }