
/* Variables */
$bg_color_body: #eeece5;
$bg_color_hecho_con_amor: #B6B9A0;

/* Mixin */
@mixin default_font_size {
    font-size: 2vh;
}

/* General */
*{
    font-family: 'Rajdhani', sans-serif;
}
.background{
    background-color: $bg_color_body;
}
p{
    font-size: 26px;
    font-family: 'Quicksand', sans-serif;
}
h1{
    font-weight: 600;
    font-size: 7vh
}
h3{
    font-weight: 600;
}
.frase {
    background-color: $bg_color_hecho_con_amor;
}

/*NAVBAR*/

li {
    a {
        font-weight: 500;
        font-size: 20px;
        color: black;
        text-decoration: none;
    }
}
li {
    a:hover {
        color: #0E637C;
    }
}

li{
    border-right: 2px solid black;
}
li.sinBorde {
    border-right: 0;
}
/*BOTON*/
.btn-primary {
    background: linear-gradient(to right, #0E637C 50%, #052C35 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all .5s ease-out;
    border-radius: 18px;
    border: none;
  }
  
.btn-primary:hover {
    background-position: left bottom;
}
.titulos-fotos{
    @include default_font_size;
}
/*FRASE*/
.frase{
    font-family: 'Courgette', cursive !important;
    padding: 20px;
}
/*FOOTER*/
footer{
    background-color: #0E637C;
}
div {
    a{
        color: white;
        @include default_font_size;
        text-decoration: none;
    }
}
div {
    a:hover{
        color: #FFF5D7;
    }
}
/* Card */
.card-img{
    width: 100% !important;
}
.card-text {
    @include default_font_size;
}
.card{
    border: 0px;
}
.imgInsta {
    width:100%;
}
.imgInsta:hover{
   color: #052C35;
}

/*CONTACTO*/
.img_sigueme{
    width: 5%;
}
.redes{
    background-color: #eeece5;
    transition: all 2s;
    border-radius: 50%;
}
.redes:hover{
    background-color: #2AB4D3;
}

.collage{
    width: 100%;
}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) { 
    li {
        border-right: 0;
    }
    #imgInstagram {
        width:25%;
    }
 }



